body{
    margin: 50px;
    font-family: Garamond, serif;
    background-image: linear-gradient(-225deg, #387bf6 0%, #1aa4ce 51%, #07f8f8 100%);
    height: calc(100vh - 100px);
}
h1 {
    text-align: center;
    font-size: 5vh;
    font-style: inherit;
}
label{
    marks: cross;
}
li {
    color: white;
    font-size: 3vh;
}
button{
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 4vh;

}
#id{
    color: black;
}
.radio{
    width: 3vh;
    height: 3vh;
}
ul{
    list-style: none;
    margin-left: -4vh;
}
div{
    text-align: center;
    align-content: center;
}
#error{
    font-size: 3vh;
    color: red;
}
input{
    height: 2.5vh;
    width: 50vw;
    font-size: 3vh;
}
