body{
    margin: 50px;
    font-family: Garamond, serif;
    background-image: linear-gradient(-225deg, #387bf6 0%, #1aa4ce 51%, #07f8f8 100%);
    height: calc(100vh - 100px);
}

h1{
    font-size: 60px;
    color: white;
    text-align: center;
}

input{
    background-color: #bbf0f0;
}

.tabla {
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    height: 40vh;
}
.tabla thead th {
    position: sticky;
    top: 0;
}
table {
    width: 100%;
}

th{
    font-size: 30px;
    width: min-content;
}

table, th, td {
    border: 1px solid rgb(0, 64, 167);
    border-collapse: collapse;
}

th, td {
    background-color: #bbf0f0;
}

ul{
    margin-left: -30px;
    list-style: none;
    text-align: center;
}
