body{
    margin: 50px;
    font-family: Garamond, serif;
    background-image: linear-gradient(-225deg, #387bf6 0%, #1aa4ce 51%, #07f8f8 100%);
    height: calc(100vh - 100px);
}
h1 {
    color:white;
    text-align: center;
    font-size: 4vh;
}
ul{
    list-style: none;
    margin: 0;
}
li {
    color: white;
    font-size: 3vh;
}
button{
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 4vh;
    margin: -20px -11vh;
    position:relative;
    top:10%;
    left:50%;
}
#id{
    color: black;
}
#qr{
    width: 12vh;
    height: 12vh;
}