body{
    margin: 50px;
    font-family: Garamond, serif;
    background-image: linear-gradient(-225deg, #387bf6 0%, #1aa4ce 51%, #07f8f8 100%);
    height: calc(100vh - 100px);
}
h1 {
    color:white;
    text-align: center;
    font-size: 5vh;
    font-style: inherit;
}

p {
    color: blue;
    font-size: 3vh;
}
button{
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 4vh;

}
#login{
    background-color: #4CAF50; /* Green */
    color: white;
    font-size: 4vh;
}
#id{
    color: black;
}
ul{
    text-align: center;
}
.registrar{
    text-align: center
}
input{
    height: 2.5vh;
    width: 50vw;
}
.inicio{
    margin: 20px;
    background-color: #dfefff;
    border: solid green;
    align-content: center;
    text-align: center;
}
#error{
    color: red;
    font-size: 3vh;
}